@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .text-display {
        @apply font-medium text-dark_1 text-[9rem]
    }

    .text-headL-bold {
        @apply font-medium text-[4rem] text-dark_1
    }

    .text-headl-med {
        @apply font-light text-[4rem] text-dark_1
    }

    .text-headm {
        @apply font-medium text-[2.25rem] text-dark_1
    }

    .text-heads {
        @apply font-medium text-[1.75rem] text-dark_1
    }

    .bodym {
        @apply text-[1.5rem] text-dark_1 leading-[150%]
    }

    .bodys {
        @apply italic leading-[150%] text-[1.25rem]
    }
}

@font-face {
    font-family: "Rubik";
    src: url("./assets/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    /* Nếu là biến */
    font-style: normal;
}

html,
body {
    height: auto;
    width: 100%;
    min-height: 100vh;
    font-family: "Rubik", sans-serif;
}

#root {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-image: url("./assets/images/pattern-background-desktop-light.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    background-color: #F4F6FA;
}

input[type="range"] {
    background: linear-gradient(to right, #A729F5 0%, #FFF 0%);
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: .5rem;
    outline: none;
}


input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    display: none;
}

input[type="range"]::-moz-range-thumb {
    display: none;
}